FullScreenFormDemoApp/*.iml
FullScreenFormDemoApp/.gradle
FullScreenFormDemoApp/local.properties
FullScreenFormDemoApp/.idea
FullScreenFormDemoApp/.DS_Store
FullScreenFormDemoApp/build
FullScreenFormDemoApp/captures
PaymentSDKDemoApp/*.iml
PaymentSDKDemoApp/.gradle
PaymentSDKDemoApp/local.properties
PaymentSDKDemoApp/.idea
PaymentSDKDemoApp/.DS_Store
PaymentSDKDemoApp/build
PaymentSDKDemoApp/captures
FullScreenFormDemoApp/projectFilesBackup/.idea
PaymentSDKDemoApp/projectFilesBackup/.idea
